<div class="board">
  <!-- help displayal, first chils to be top-most -->
  <help data-src="help"></help>
  
  <!-- map displayal and interactive cursor -->
  <map
    data-squad="squad"
    data-src="squad.map" 
    data-dimensions="game.mapDimensions"
    data-vertical-tile-num="13"
    data-horizontal-tile-num="10"
    data-error="error"
    data-selected="selected" 
    data-zone="zone"
    data-click="_onMapClick"
    data-rightclick="_onMapRightclick"
    data-hover="_onHover"
    data-active-rule="activeRule"
    data-select-active-rule="_onSelectActiveRule"
    data-ask-to-execute-rule="_askToExecuteRule"
    data-deploy-scope="deployScope"
    data-blip-deployed="_onBlipDeployed"
    data-display-grid="false"
    data-display-markers="false"
    data-need-multiple-targets="needMultipleTargets"
    data-shortcuts='{"downleft":"end", "down":"down", "downright":"pgdown", "left":"left", "right":"right", "upleft":"home", "up":"up", "upright":"pgup"}'></map>
    
  <!-- persistent notifications -->
  <notify data-src="notifs"></notify>
  
  <!-- scores displayal -->
  <scores data-src="game"></scores>
  
  <!-- orders selection -->
  <orders data-ng-if="!squad.isAlien" 
    data-is-shown="showOrders"
    data-squad="squad"
    data-order-chosen="_onApplyOrder"></orders>
  
  <!-- commands panel -->
  <aside class="ng-class: squad ? squad.isAlien ? 'alien' : 'marine': '';">
    <!-- blips and reinforcements -->
    <div class="blips" data-ng-if="squad.isAlien">
      <deployable-blips data-squad="squad" data-deploy-scope="deployScope"></deployable-blips>
      <a href="" class="end-deploy command ng-class:deployScope ? '': 'disabled'" data-ng-click="_onEndDeploy()">{{'labels.endDeploy'|i18n}}</a>
    </div>
    <!-- squad details -->
    <div class="squad">
      <div class="replay ng-class:hasNextAction"><span>{{'labels.replayInProgress'|i18n}}</span></div>
      <character-details
        data-ng-repeat="member in squad.members" 
        data-src="member"
        data-mission="squad.mission"
        data-on-select="_onSelectMember"
        data-selected="$parent.selected"></character-details>
    </div>
    <img class="logo" data-ng-src="{{getInstanceImage(squad)}}"/>
    <a data-ng-if="squad.isAlien === false" href="" class="command equipment" data-ng-click='_onDisplayEquipment()'>{{'buttons.equipment'|i18n}}</a>
    <!-- messages -->
    <log data-src="game.warLog" data-send-message="sendMessage" data-current-squad="squad.name"/>
    <!-- action replay commands -->
    <div class="commands">
      <a href="" class="command tiny ng-class:hasPrevAction?'':'disabled';" data-ng-click="_onPrevAction()"><i class="fa fa-backward"></i></a>
      <a href="" class="command tiny ng-class:hasNextAction?'':'disabled';" data-ng-click="_onNextAction()"><i class="fa fa-forward"></i></a>
      <a href="" class="command tiny ng-class:canStopReplay?'':'disabled';" data-ng-click="_onStopReplay()"><i class="fa fa-stop"></i></a>
      <a href="" class="command end-turn ng-class:canEndTurn?'':'disabled';" data-ng-click="_onEndTurn()">{{'labels.endOfTurn'|i18n}}</i></a>
      <a href="" class="command rules" data-ng-click='navTo("rules")'>{{'buttons.rules'|i18n}}</a>
    </div>
  </aside>
</div>