<div class="cursor {{isBlip ? 'blip' : ''}}">
  <div class="left">
    <a class="move ng-class:activeRule == 'move' ? 'active' : '';" 
        data-ng-click="_onActivate($event, 'move')" 
        title="{{'labels.move'|i18n:{sep:true} }}{{selected.moves}}">
      <span><i>{{selected.moves}}</i></span>
    </a>
    <a class="open ng-class:canOpenDoor?'active':'';" 
        data-ng-click="_onOpen($event)" 
        title="{{'labels.open'|i18n:{sep:true} }}{{'labels.' + (canOpenDoor?'yes':'no') |i18n}}">
      <span></span>
    </a>
  </div>
  <div class="right">
    <a data-ng-repeat="weapon in selected.weapons" 
        class="{{weapon.id}} ng-class:activeRule == 'shoot' && activeWeapon === $index? 'active' : ''" 
        data-ng-click="_onActivate($event, 'shoot', $index)" 
        title="{{'labels.'+weapon.id|i18n:{sep:true} }}{{rcNum[$index]}}">
      <span><i>{{canShoot ? rcNum[$index] : ''}}</i></span>
    </a>
    <a class="open-fire active"
        data-ng-show="canOpenFire"
        data-ng-click="_onOpenFire($event)" 
        title="{{'labels.shoot'|i18n}}">
      <span></span></a>
    <a class="assault ng-class:activeRule == 'assault' ? 'active' : ''" 
        data-ng-click="_onActivate($event, 'assault')" 
        title="{{'labels.assault'|i18n:{sep:true} }}{{selected.ccNum}}">
      <span><i>{{canAssault ? selected.ccNum : ''}}</i></span>
    </a>
  </div>
</div>