<div class="logs" data-ng-click="toggle()">
  <h1>{{'titles.logs'|i18n}}</h1>
  <div class="content">
    <div class="input" data-ng-click="$event.stopPropagation()">
      <span class="owner {{currentSquad}}">{{'labels.speak'|i18n:{sep:true} }}</span><textarea data-ng-keyup="_onMessage($event)"></textarea>
    </div>
    <div data-ng-repeat="entry in log track by $index" class="{{entry.kind}}">
      <span class="time">{{entry.time|date:'HH:mm:ss'}}</span><span class="owner {{entry.squad}}">{{entry.player || entry.kind}}{{'labels.fieldSeparator' |i18n}}</span><span class="text">{{entry.content}}</span>
    </div>
  </div>
</div>