@import 'constant'  
@import 'mixin' 

//------------------------------------------------------------------------------
// Board view styles

asideHeight = 160px

.board
  width 100%
  height 100%
  position relative
  overflow hidden
  background boardBackground
  display flex
  flex-direction column
  align-items center
  justify-content flex-end

  > .notify
    position relative
    width 50%
    z-index 2
    
    .content
      max-height 100px

  > .map
    user-select none
    position absolute
    pad = 30px
    top pad  
    right pad
    bottom asideHeight
    left pad
    z-index 0

  pad = 20px
  logoRatio = 0.9
  logoWidth = 100px
  squadWidth = 630px

  aside
    position relative
    height asideHeight
    bottom 0
    transition bottom fallDuration
    width 1140px
    background url("../image/board-commands.png")
    background-size 100% 100%

    > *
      top pad
      bottom 0
      position absolute
    
    .logo
      top pad + 22.5px
      left pad + squadWidth + 5px
      height unit(logoWidth*logoRatio, 'px')
      width auto
      margin unit((logoWidth*(1 - logoRatio))/2, 'px')
      
    .logs
      top auto
      left 780px
      bottom 67px
      width 318px
      height 60px
      transition height logsDuration

    .logs.ng-show
      height 200px

    .commands
      left  pad + logoWidth + squadWidth + 12px
      top pad + 90px
      width 350px
      padding 8px 10px
      box-sizing border-box
      display flex

      a + a
        margin-left 4px
      .fa
        padding 0

      a
        flex-grow 0
        line-height 34px

      .end-turn
      .rules
        flex-grow 1
        padding 0 0.5em

    .squad .blocked
      display none

    .squad.disabled .blocked
      margin = 5px
      position absolute
      display flex
      align-items center
      justify-content center
      top margin + 10px
      left margin
      bottom margin
      right margin
      border-radius 5px
      z-index 1
      background mapLoadingBackground
      
      > *
        font-family headingFont
        font-size headingSize
        text-shadow headingShadow

  aside.marine
    background url('../image/board-marine-commands.png')

    .squad
      left pad
      width squadWidth

    .logo
      top auto
      bottom -2px

    .equipment
      position absolute
      left pad + squadWidth + 17px
      bottom auto
      top pad + 17px
      padding 6px 1em

  aside.alien
    background url('../image/board-alien-commands.png')
    
    blipSize = 100px

    .blips
      top pad
      left pad
      width blipSize
  
      .end-deploy
        position absolute
        bottom 9px
        left 9px
        padding 2px 0
        font-size 80%
        width 84px

    .squad
      left pad + blipSize
      width squadWidth - blipSize - 13px
      margin 21px 2px 11px
      overflow auto

      .character-details
        margin 2px 0 4px 6px

      .blocked
        top 0
        left 0
        bottom 0
        right 0

    .squad.disabled
      overflow hidden
  .scores
    position absolute
    top 0
    right 5%
    z-index 1

  .orders
    margin-bottom -15px

  .orders.ng-hide
    margin-bottom (- asideHeight)
    opacity 0
    display none
  
  .orders.ng-hide-add
  .orders.ng-hide-remove
    display flex  !important
    transition margin-bottom moveDuration, opacity moveDuration

.board.ng-enter aside
.board.ng-leave aside
  opacity 0
  bottom - asideHeight

.modal-dialog.choose

  .row
    display flex
    align-items flex-start
    min-height 150px
    margin-top 1em
  
  .alert
    margin 0 0 0 25px
    width 480px

  .alert.ng-hide
    visibility hidden
    display flex !important

  .select-equipment
    flex-flow column nowrap
    align-items flex-start

.modal-dialog.choose-order
  
  .rule-params
    margin-top 15px
    > .param
      margin-top 5px