@import constant
@import mixin

//------------------------------------------------------------------------------
// Map directive

@keyframes fadeDamages
  0%
    transform translate(0, 0)
  50%
    opacity 1
  100%
    transform translate(0, -75px)
    opacity 0

assaultShift = 40px
assaultInvert = 45deg
assaultRotation = 60deg
@keyframes assault
  0%
    transform translate(- assaultShift, - assaultShift) rotate(0deg)
  25%
    transform translate(assaultShift, 0) rotate(0deg)
  49%
    transform translate(assaultShift*0.7, assaultShift) rotate(assaultRotation)
  50%
    transform translate(assaultShift, - assaultShift) rotate(assaultInvert)
  75%
    transform translate(- assaultShift, 0) rotate(assaultInvert)
  100%
    transform translate(assaultShift*-0.7, assaultShift) rotate(assaultInvert - assaultRotation)

.map
  box-sizing border-box
  z-index 0

  .loading
    pad = -50px
    position absolute
    top pad
    left pad
    bottom pad
    right pad
    background mapLoadingBackground
    z-index 10

  .map-container
    position absolute
    display block
  
    > *
      position absolute
      z-index 1

    .zone-display
      pointer-events none

    > .fields
      padding-left 0

    > .indications
      pointer-events none

      .indic
        position absolute

      .loss, .damages
        background indicColor
        box-shadow 0 0 5px 2px indicColor
        padding 5px
        animation fadeDamages 3200ms ease-in

      .loss
        z-index 10
        color errorColor
        margin-top -30px
        margin-left -7px
      .damages
        color cursorColor
        margin-left 7px

      .shoot
        width 60px
        height 13px
        background-image url(../image/shoot.png)
        background-size 100% 100%

      .assault
        width 23px
        height 24px
        background-image url(../image/claws.png)
        background-size 100% 100%

    .hover
      position absolute
      background-color rgba(hoverColor, 0.2)
      border-radius 5px

    .menu
      display none
      position absolute
      applyAlertSkin()
      padding 0
      
      > li
        list-style none
        padding 0.5em 1em
        cursor pointer
      > li:hover
        color characterHoverColor
        background rgba(white, 20%)

    .menu.open
      display block
    
  .item
    position absolute

//------------------------------------------------------------------------------
// Item displayal

.item
  transform-origin 0 0
  transition top moveDuration, left moveDuration

  > div
    transform-origin 0 0

// avoid retaining clicks on wall and doors, to always allow redeployement
.item.wall
.item.door
  pointer-events none

.item.alien
.item.marine
  cursor pointer

//------------------------------------------------------------------------------
// Item cursor

@keyframes showCommands
  0%
    transform scale(1, 0)
  100%
    transform scale(1, 1)

.cursor
.cursor.rear

  innerActionSize = 60px
  actionSize = 75px

  position absolute
  width 200px
  height 200px
  margin-top 5px
  background-repeat no-repeat
  transform-origin 0 0 0
  z-index 1000000
  pointer-events none
  
  > .right
  > .left
    position absolute
    bottom actionSize*0.5
    width actionSize
    transform-origin 50% 50%
    // use a transition to allow cursor JS detect the animation end
    opacity 0.8
    transition opacity 250ms

  > .right
    right (actionSize*-0.7)

  > .left
    left (actionSize*-0.7)

  a
    position relative
    display block
    height innerActionSize
    pointer-events auto
    background-repeat no-repeat
    background-image url(../image/commands.png)
    background-position -2*actionSize -3*innerActionSize
    
    > span
      position absolute
      display block
      width 100%
      height innerActionSize
      background-image url(../image/commands.png)
      background-repeat no-repeat

    i 
      position absolute
      color cursorColor
      font-size 150%
      font-style normal
      bottom 3px
      right 12px

  a:first-child
    border-top actionSize - innerActionSize solid transparent
    background-position 0 -3*innerActionSize - (actionSize - innerActionSize)

  a:last-child
    border-bottom actionSize - innerActionSize solid transparent
    background-position - actionSize -3*innerActionSize

  a:hover
    text-decoration none
    cursor pointer

  .open:not(.active):hover
    cursor default

  .open-fire
    // for ng-hide animations
    display block !important
    transition height 200ms
  .open-fire.ng-hide
    height 0
   
  // by default, display shoot icon for unspecified weapons
  a > span
    background-position (-6)*actionSize -1*innerActionSize
  a.active > span
    background-position (-6)*actionSize 0
  a:hover > span
    background-position (-6)*actionSize -2*innerActionSize

  // or use specific icons for other actions
  actions = move, open, assault, missileLauncher, autoCannon, flamer, shoot, open-fire

  for action, i in actions
    .{action} > span
      background-position (- i)*actionSize -1*innerActionSize
    .{action}.active > span
      background-position (- i)*actionSize 0 
    .{action}:hover > span
      background-position (- i)*actionSize -2*innerActionSize



.cursor.rear
  background-image url(../image/cursor.png)
  background-size 100% auto
  background-position 50% 100%
  z-index 0
  opacity 0
  transition opacity 150ms

.cursor.animated
  > div
    opacity 1
    animation showCommands 250ms ease-out

.cursor.movable
  transition top moveDuration, left moveDuration

.cursor.rear.animated
  opacity 1

.cursor.rear.movable
  transition opacity 150ms, top moveDuration, left moveDuration

.cursor.is-big
  width 400px

.cursor.blip .right
  display none
  
//------------------------------------------------------------------------------
// Item tooltip

.item-tip
  position absolute
  applyAlertSkin()
  
  squadImgSize = 30px

  > h2
    font-size textSize
    margin 0 0 14px
    padding-right squadImgSize + 10px

    > img
      float right
      width squadImgSize
      margin -5px (- squadImgSize - 15px) 0 0

  li 
    font-size textSize*0.9
    margin-top 3px

    > * 
      display inline-block

    label
      min-width 100px
      text-align right
      padding-right 5px
      vertical-align top

    .value
      color characterHoverColor
      max-width 110px

//------------------------------------------------------------------------------
// Marine details directive

.character-details
  box-sizing border-box
  display inline-block
  width 106px
  height 106px
  margin 22px 12px 12px 12px 
  padding 2px
  color characterDetailsColor
  cursor pointer
  position relative
  background-image url(../image/marine-details.png)
  background-size 100% 100%

  > *
    position absolute

  h1
    top 5px
    right 5px
    left 5px
    text-align right
    text-shadow 0 0 1px black
    overflow hidden
    text-overflow ellipsis
    margin 0
    font-size textSize*0.7
    line-height textSize*1

  .weapon
    bottom 2px
    left 2px
    background-image url(../image/weapon-wireframes.png)
    background-size 200px 330px
    width 100px

  padd = 6px
  .move, .life, .attack
    width 40px - padd
    height 18px
  .move
    left 10px
    top 50px
    padding-right padd
    text-align right
  .life
    left 10px
    top 28px
    padding-right padd
    text-align right
  .attack
    right 8px
    top 28px
    padding-left padd
    text-align left

.character-details + .character-details
  margin-left 7px

.character-details.selected
  color characterHoverColor

weaponSizes = {
  pistolAxe: 45,
  gloveSword: 50,
  heavyBolter: 45,
  bolter: 45,
  flamer: 45,
  missileLauncher: 60,
  autoCannon: 40
}
sum = 0

for selector, size in weaponSizes
  
  .character-details .weapon.{selector}
    background-position 0 unit(- sum, 'px')
    height unit(size, 'px')

  .character-details.selected .weapon.{selector}
    background-position -100px unit(- sum, 'px')

  sum += size

.character-details.alien
  width 75px
  height 75px
  margin 8px
  background-image url(../image/alien-details.png)

  padd = 4px
  .attack, .move
    width 30px - padd
    top auto
    bottom 5px

  .attack
    right 5px
    padding-left padd
    text-align left

  .move
    left 5px
    padding-right padd
    text-align right

  .weapon
    top 0px
    left 12.5px
    width 50px
    height 50px
    background-image url(../image/alien-wireframes.png)
    background-size 100px 450px

alienSizes = {
  dreadnought: 50,
  genestealer: 50,
  android: 50,
  chaosCommander: 50,
  chaosHeavyMarine: 50,
  chaosMarine: 50,
  gretchin: 50,
  ork: 50,
  blip: 50
}
sum = 0

for selector, size in alienSizes

  .character-details.alien .weapon.{selector}
    background-position 0 unit(- sum, 'px')
    height unit(size, 'px')

  .character-details.alien.selected .weapon.{selector}
    background-position -50px unit(- sum, 'px')

  sum += size

//------------------------------------------------------------------------------
// Marine & Dreadnought configuration

.configure-marine
.configure-dreadnought
  margin 0.5em 0

  > div label
  > div select
    margin 0.5em 0
    

//------------------------------------------------------------------------------
// Deployable blips directive

blipSize = 50px

.deployable-blips 
  display block
  text-align center
  margin-top 20px
  color textDarkColor

  label
    display block
    
.deploying-blip
.deployable-blips .handle
  cursor pointer
  display inline-block
  width blipSize
  height blipSize
  background-size 100% 100%
  background-image url(/images/alien-type.png)

.deployable-blips.disabled
  color textColor
  
  .handle
    cursor auto
    opacity 0.5

//------------------------------------------------------------------------------
// Logs directive

@keyframes blink
  0%
    background-color transparent
  17%
    background-color errorColor
  34%
    background-color transparent
  51%
    background-color errorColor
  68%
    background-color transparent
  85%
    background-color errorColor
  100%
    background-color transparent

.logs
  box-sizing border-box
  border 1px solid transparent
  border 1px solid transparent
  border-image-source url(../image/logs.png)
  border-image-slice 100% 50% 0 49%
  border-image-width 60px 50% 0
  border-image-outset 5px 10px 0
  background-color #E9DDAF
  display flex
  flex-direction column
  
  h1
    height 13px
    margin -3px 0 4px
    padding-top 2px
    font-size 10px
    text-align center
    cursor pointer

  .content
    flex 1
    color textDarkColor
    margin 2px 5px
    overflow hidden
    font-size 80%
  
    > *
      margin-bottom 5px
      .time
        color logTimeColor
        display inline-block
        margin-right 5px
      .owner
        display inline-block
        margin-right 5px
      .owner.alien
        color alienColor
      .owner.ultramarine
        color ultramarineColor
      .owner.bloodangel
        color bloodangelColor
      .owner.imperialfist
        color imperialfistColor
    
    .input
      display flex

      .owner 
        flex-grow 0
        flex-shrink 0
        vertical-align top
        margin 4px 5px 0 0

      textarea
        resize vertical
        min-height textSize*1.4
        height textSize*1.4
        font-size 100%
        flex-grow 1
        background-color rgba(white, 0.3)

.logs.new-log > h1
  border-radius 5px
  animation blink 1s

.logs.ng-show .content
  overflow auto

//------------------------------------------------------------------------------
// Short game representation

.short-game
  margin-top .5em

  h3
    color alertColor

  img 
    width 1.5em
    margin 0 4px -0.5em 0

  .player
    display inline-block
    margin-right 1.5em
    margin-bottom 0.5em

//------------------------------------------------------------------------------
// Alerts

.alert
  applyAlertSkin()
  display flex
  width 100%
  box-sizing border-box
  align-items flex-start
  margin-bottom 1em
  
  > div
    flex 1    
  .close
    margin -1px 0 -1px 1em
    order 2

.alert.ng-hide
  opacity 0

.alert.ng-hide-add
.alert.ng-hide-remove
  transition opacity moveDuration
  display flex  !important

.alert-error
  color errorColor

//------------------------------------------------------------------------------
// Notifications

.notify
  display flex
  align-items flex-start

  .close-all
    margin-right 0.5em
    padding 2px 5px
    border-radius 5px
    color textColor
    background textBackground
    box-shadow 0 0 3px 3px textBackground
    cursor pointer
    opacity 1
    transition all linear 500ms

  .close-all.ng-hide
    opacity 0

  .close-all.ng-hide-add
  .close-all.ng-hide-remove
    display block!important

  .content
    padding 0 0.5em
    overflow-y auto
    overflow-x hidden
    flex 1

  .notification
    position relative

  .notification.ng-move
  .notification.ng-enter
  .notification.ng-leave
    transition all cubic-bezier(1,0,1,.75) 500ms
   
  .notification.ng-leave.ng-leave-active
  .notification.ng-move
  .notification.ng-enter
    opacity 0
    bottom -100px    
   
  .notification.ng-leave
  .notification.ng-move.ng-move-active
  .notification.ng-enter.ng-enter-active
    opacity 1
    bottom 0

//------------------------------------------------------------------------------
// Configure marines and dreadnought

.configure-marine
.configure-dreadnought

  .select
    position relative
    cursor pointer

    .value
      background rgba(white, 0.1)
      display block
      padding 0.25em

    .selector
      position absolute
      top 0
      bottom 0
      right 0
      margin 3px
      background textBackground
      padding 2px 4px 0

    .menu
      z-index 5000
      display none
      opacity 0
      top 100%
      width 93%
      position absolute
      transition opacity linear 200ms

      color alertColor
      padding 0.5em
      background url(../image/alert-background.png) repeat
      box-shadow 0 0 6px 1px alertColor inset
      border 1px solid alertColor
      border-radius 5px
    
      .selected
        color hoverColor

  .select:hover 

    .value
      color hoverColor

    .menu
      display block
      opacity 1
      
      > *:hover
      > .selected
        box-shadow 0 0 0.5em 0.25em #112B00
        background #112B00
  
      > *:hover
        color textColor

.configure-dreadnought .select
  margin-top 0.5em
  margin-bottom 1em