@import 'constant'  
@import 'mixin' 

//------------------------------------------------------------------------------
// Form rendering

form
  display flex
  flex-direction column
  align-items center
  
  > .row
  > .param
    width 100%
    display flex
    align-items baseline
    padding-bottom 0.5em

    > *
      flex 1

    label
      text-align right
      margin-right 1em
      flex-grow 0
      flex-basis 150px

  > .param 
    > span > *
      width 100%

input, textarea, select
  font-family textFont
  font-size textSize
  color textDarkColor
  box-sizing border-box
  border 1px solid #CCCCCC
  border-radius 4px
  padding 0.2em
  margin 0
  background-color inputBackground
  
:focus, :active
  outline 0 none

input:focus, select:focus, .select:focus, .btn:not(.disabled):focus, textarea:focus, button:not(.disabled):focus
  box-shadow 0 0 1px hoverColor inset, 0 0 4px hoverColor

//------------------------------------------------------------------------------
// Buttons

.btn
a.btn
button.close
a.btn:visited
a.btn:hover
  font-family textFont
  font-size textSize
  text-shadow 0 0 2px 0 white
  text-decoration none
  color buttonColor
  box-sizing border-box
  border-radius 5px

.btn
  // for pre-loading
  border-image-source url('../image/button-hover.png')
  border-image-width 0

.btn
a.btn
  position relative
  display inline-block
  padding buttonPadding
  //margin-top buttonMove
  transition margin 100ms, top 100ms
  border 2px solid transparent
  border-image-source url('../image/button.png')
  border-image-slice 45% 50% 54.5% 49.5%
  border-image-width 100%
  border-image-repeat repeat
  border-image-outset 2px
  background none

.btn:not(.disabled):hover
  border-image-source url('../image/button-hover.png')
  border-image-width 100%

.btn:not(.disabled):hover
button.close:hover
  cursor pointer

button.close
  background buttonBackground
  border 1px solid buttonBorderColor
  padding 0 3px
  line-height textSize
  font-size textSize*1.2
  
button.close:hover
  border-color hoverButtonBorderColor

.btn + .btn
  margin-left 1em

.btn.disabled
button.disabled
.btn.disabled:hover
a.btn.disabled:hover
button.disabled:hover
  border-image-source url('../image/button-disabled.png')
  border-image-width 100%
  color rgba(buttonColor, 0.5)
  cursor normal

.command
  display inline-block
  box-sizing border-box
  text-align center
  cursor normal
  border 1px solid transparent
  border-image-source url('../image/replay-buttons.png')
  border-image-repeat stretch
  border-image-slice 100% 0 0 40
  border-image-width 100% 0 0 0

.command.tiny
  width 40px
  border-image-slice 100% 122 0 0
  border-image-width 100% 0 0 0

.command:hover
  color textDarkColor
  cursor pointer
  border-image-source url('../image/replay-buttons-hover.png')

.command.disabled
.command.disabled:hover
  color textDarkColor
  cursor normal
  border-image-source url('../image/replay-buttons-disabled.png')

//------------------------------------------------------------------------------
// Frames

.frame
  position relative
  margin 20px
  padding 30px 40px
  background textBackground
  color textColor
  text-align left
  border 5px solid transparent
  border-image-source url('../image/frame.png')
  border-image-slice 41% 45%
  border-image-width 18 32
  border-image-repeat round
  border-image-outset 3

  h1, h2
    text-shadow 0 0 3px #D40000
    border-bottom 1px solid rgba(black, 0.5)
    padding 0.25em
    margin-bottom 0.5em
    display inline-block

  > .buttons
    text-align center
    margin 8px 0

//------------------------------------------------------------------------------
// Modals

.modal
  display flex
  flex-direction column
  align-items center
  justify-content center
  z-index 1001
  // we need to animate something in modal otherwise ngAnimate won't wait for inner animation to finish
  margin-bottom -1px
  transition margin modalDuration

  .modal-dialog
    position relative
    opacity 0
    top -200px
    transition opacity modalDuration, top modalDuration
    
    footer
      margin-top 1em
      text-align center
  
      .btn + .btn
        margin-left 1em

.modal.ng-show
  margin-bottom 0px

  .modal-dialog
    opacity 1
    top -150px

.modal
.modal-backdrop
  position absolute
  top 0
  height 100%
  left 0
  width 100%

.modal-backdrop
  background backdropBackground
  z-index 1000